* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:#0a2d29;
}

/* Style the header */
.header {
  background-color: #0a2d29;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color:white;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 700px; /* Should be removed. Only for demonstration */
}

/* Left and right column */
.column.side {
  width: 30%;
}

/* Middle column */
.column.middle {
  width: 70%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}


.chat {
    width: 800px;
    overflow-x: hidden;
    padding: 30px;
    display: flex;
    flex-flow: row wrap;
}

.chatlogs {
    padding: 10px;
    width: 100%;
    height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #efefef;
}

.chatlogs::-webkit-scrollbar {
    width: 10px;
}

.chatlogs::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0,0,0,.1);
}

.chat {
    width: 800px;a
    background: #fff;
    overflow-x: hidden;
    padding: 30px;
    width: auto;
}

.chat .chat-message {
    width: 80%;
    padding: 15px;
    margin: 5px;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    word-wrap:break-word;
}

.friend {
    background: #1adda4;
    float: left;
}

.self {
    background: #1ddced;
    float: right;
}

.chat-form {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.chat-form textarea {
    background: #fbfbfb;
    width:80%;
    height: 50px;
    border: 1px solid #000;
    border-radius: 3px;
    resize: none;
    padding: 10px;
    font-size: 18px;
    color: #333;
}

.chat-form textarea:focus {
    background: #fff;
}

.chat-form textarea::-webkit-scrollbar {
    width: 10px;
}

.chat-form textarea::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0,0,0,.1);
}

.chat-form button {
    background: #777;
    font-size: 30px;
    color: #fff;
    border: none;
    margin: 0 10px;
    border-radius: 3px;
    box-shadow: 0 3px 0 #777;
    cursor: pointer;
    -webkit-transition: background .2s ease;
    -moz-transition: background .2s ease;
    -o-transition: background .2s ease;
}

.chat-form button:hover {
    background: #ccc;
}

.inButton{
  padding: 0px !important;
  margin-top: 5px;
  margin-left:-2px !important;
  width: 20%;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column.side, .column.middle .row{
    width: 100%;
  }
}